
       <div fxLayout="row wrap" fxLayoutGap="10px grid" style="padding-top: 2%; padding-left: 10%;">
        <div *ngFor="let note of NoteArray">
            <mat-card class="card" [style.background]="note.bgColour">

                <mat-card-title style="padding:8px;" (click)="openDialog(note)"> {{note.title}}</mat-card-title>

                <mat-card-content>
                    <p style="padding:8px;" (click)="openDialog(note)">{{note.description}}</p>
                </mat-card-content>

                <div class="icondiv" FxLayoutAlign="space-between centre" >
                    <app-icon [noteCard]="note"></app-icon>

                </div>
            </mat-card>
        </div>
        </div>