<div class="OuterDiv">
    <div role="button" class="add">
        <img class="divImg" src="../../../assets/notifications_FILL0_wght400_GRAD0_opsz48.svg">
    </div>
    <div role="button" class="add">
        <img class="divImg" src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz48.svg">
    </div>
    <div role="button" class="add">
        <img class="divImg" src="../../../assets/palette_FILL0_wght400_GRAD0_opsz48.svg">
    </div>
    <div role="button" class="add">
        <img class="divImg" src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg">
    </div>
    <div role="button" class="add" (click)="onArchiev()">
        <img class="divImg" src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg">
    </div>
    <div role="button" class="add">

        <div class ="MoreItem" mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu">
            <img class="divImg" src="../../../assets/more_vert_FILL0_wght400_GRAD0_opsz48.svg">
            <mat-menu #menu="matMenu" >
                <button mat-menu-item>Delete note</button>
                <button mat-menu-item>Add Label</button>
                <button mat-menu-item>Add Drawing</button>
                <button mat-menu-item>Make a copy</button>
                <button mat-menu-item>Show tick boxes</button>
                <button mat-menu-item>Copy to google Docs</button>
            </mat-menu>
        </div>
    </div>
</div>