<div class="form-container">
  <div class="form">
    <div class="form-text">
      <div class="form-head-text">

        <h1>FundooNotes</h1>
        <h2>Create your FundooNotes Account</h2>
      </div>
      <div class="form-content">
        <div class="names">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput placeholder="First Name">
            <mat-error>Enter valid first name</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Last Name">
            <mat-error>Enter valid last name</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email" />
          <mat-hint>You can use letters and numbers</mat-hint>
        </mat-form-field>

        <div>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="password" />
            <mat-hint>
              Use 8 or more characters with a mix of letters, numbers & symbols
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Confirm</mat-label>
            <input matInput placeholder="confirm" />
          </mat-form-field>
        </div>
        <div class="ShowCheckbox">
          <input style="cursor: pointer; " type="checkbox" id="icon">Show password
        </div>
      </div>

      <div class="form-footer">
        <div>
          <button mat-button color="primary">
            Login
          </button>
        </div>
        <div>
          <button mat-flat-button color="primary">
            Sign Up
          </button>
        </div>
       
      </div>
    </div>
    <div>
      <img src='../../../assets/account.svg' alt="" width='244' height='244' />
    </div>
  </div>
  </div>