<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <div class="mydiv">
        <div>
            <mat-toolbar class="example-toolbar">
                <button mat-icon-button (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <img class="keepIcon" src="../../../assets/googleKeep.jpeg">
                <h1 class="example-app-name">
                    <div class="funDo">
                        <b class="F">F</b>
                        <b class="u">u</b>
                        <b class="n">n</b>
                        <b class="D">D</b>
                        <b class="o">o</b>
                        <b class="oo">o</b>
                    </div>
                </h1>
            </mat-toolbar>
        </div>
                    <form class="searchBar">
                        <button class="newIcon">
                            <span role="button" class="material-symbols-outlined">search</span>
                        </button>
                        <div class="sea">
                            <input class="search" type="text" placeholder="Search">
                        </div>
                    </form>
        <div class="cyDiv">
            <span role="button" class="material-symbols-outlined">refresh</span>
            <span role="button" class="material-symbols-outlined">grid_view</span>
            <span role="button" class="material-symbols-outlined">settings</span>
        </div>
        <div class="profile">
            <span class="material-symbols-outlined">apps</span>
            <span class="material-symbols-outlined">account_circle</span>
        </div>
    </div>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav style="width: 300px;" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <div class="contDiv">
                <mat-nav-list>
                    <div class="NoteDi">
                        <div role="button" class="NoteD " routerLink="/Dashboard/Notes">
                            <div class="IconDiv">
                                <a mat-list-item>Notes</a>
                            </div>
                        </div>
                    </div>
                    <div class="NoteDi">
                        <div role="button" class="NoteD" routerLink=".">
                            <div class="IconDiv">
                                <a mat-list-item>Reminders</a>
                            </div>
                        </div>
                    </div>
                    <div class="NoteDi">
                        <div role="button" class="NoteD" routerLink=".">
                            <div class="IconDiv">
                                <a mat-list-item>Edit Labels</a>
                            </div>
                        </div>
                    </div>
                    <div class="NoteDi">
                        <div role="button" class="NoteD" routerLink="/Dashboard/Archieve">
                            <div class="IconDiv">
                                <a mat-list-item>Archive</a>
                            </div>
                        </div>
                    </div>
                    <div class="NoteDi">
                        <div role="button" class="NoteD">
                            <div class="IconDiv" routerLink="/Dashboard/Trash">
                                <a mat-list-item>Trash</a>
                            </div>
                        </div>
                    </div>
                </mat-nav-list>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>