.OuterDiv{
    width: 97vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.InnerDiv{
    border: 1px solid rgb(230, 230, 230);
    width: 30%;
    height: 60%;
    padding: 48px 36px 40px;
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.funDo{
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.F{
    color: #1a73e8;
}
.u{
    color: red;
}
.n{
    color: orange;
}
.D{
    color: goldenrod;
}
.o{
    color: lightblue;
}
.oo{
    color:lightpink;
}
.span{
    color: #202124;
    font-size: 25px;
    width: auto;
    height: auto;
    font-family:"Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    padding-top: 10px;
}
.rec{
    padding-top: 10px;
    padding-bottom: 25px;
    font-family:roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    font-size: 16px;
    color-scheme: light;
}
.mat-raised-button{
    background-color:#1a73e8;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
     margin-left: 77%;
}
mat-form-field{
   box-sizing: border-box;
   width: 370px;
   float: left;
   padding-left: 15px;
}